@import '../theme/theme.less';
@import '../theme/mixin.less';


.gjjd-card, .djr-card {
  padding: 12px;
  .setOnePxBySide(bottom);
  >div {
    display: flex;
    align-items: center;
  }
}

.bjd-card {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
